# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------

# Neural Network weights -----------------------------------------------------------------------------------------------
*.weights
*.pt
*.onnx
*.mlmodel
*.torchscript
darknet53.conv.74

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
wandb/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv*
venv*/
ENV*/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# User-specific stuff:
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

----------------------------------------------------------------------------------------------

# Kraftboard-Fastapi
# Weights
Kraftboard-Fastapi/*.pt
Kraftboard-Fastapi/*.pth
Kraftboard-Fastapi/utils/ocr/ppocr/weights/**
Kraftboard-Fastapi/utils/face/embeddings/weights/**
Kraftboard-Fastapi/__pycache__/
Kraftboard-Fastapi/.idea/*

# weights
*.pdiparams
*.pdiparams.info
*.pdmodel

----------------------------------------------------------------------------------------------

# Carplate-yolov5
Carplate-yolov5/.idea/*
