backEnd/dep/

backEnd/api/endpoints/ppocr/weights/

# pycache
__pycache__
backEnd/api/endpoints/__pycache__
backEnd/api/endpoints/ppocr/__pycache__
backEnd/api/endpoints/ppocr/data/__pycache__
backEnd/api/endpoints/ppocr/postprocess/__pycache__