# base ----------------------------------------
torch==1.9.0
torchvision==0.10.0
requests
opencv-python

# plotting ------------------------------------
pandas

# Status report -------------------------------
paho-mqtt

# Install weights from drive
gdown